In [5]:

import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

# Filepath
fp = "transit shapefiles-geocoding.csv"

# Read the data
data = pd.read_csv(fp, sep=';')

In [6]:
data.head()

                                     Address
0   12776 Foothill Blvd Los Angeles CA 91342
1     740 E 111th Place Los Angeles CA 90059
2     800 E 111th Place Los Angeles CA 90059
3  1950 Washington Blvd Los Angeles CA 90021
4  1910 Washington Blvd Los Angeles CA 90021

In [8]:
# Import the geocoding tool and geopy
from geopandas.tools import geocode

# Geocode addresses with Nominatim backend
geo = geocode(data['Address'], provider='nominatim', user_agent='csc_user_ht')
geo.head(5)

,geometry,address
0,POINT (-118.41326 34.29154),"12776, Foothill Boulevard, Los Angeles, Los An..."
1,POINT (-118.26211 33.93484),"740, East 111th Place, Green Meadows, Los Ange..."
2,POINT (-118.26321 33.93431),"800, East 111th Place, Green Meadows, Los Ange..."
3,POINT (-118.24109 34.02027),"Washington Boulevard, Nevin, Central-Alameda, ..."
4,POINT (-118.24109 34.02027),"Washington Boulevard, Nevin, Central-Alameda, ..."

In [9]:
join = geo.join(data)
join.head()

,geometry,address,Address
0,POINT (-118.41326 34.29154),"12776, Foothill Boulevard, Los Angeles, Los An...",12776 Foothill Blvd Los Angeles CA 91342
1,POINT (-118.26211 33.93484),"740, East 111th Place, Green Meadows, Los Ange...",740 E 111th Place Los Angeles CA 90059
2,POINT (-118.26321 33.93431),"800, East 111th Place, Green Meadows, Los Ange...",800 E 111th Place Los Angeles CA 90059
3,POINT (-118.24109 34.02027),"Washington Boulevard, Nevin, Central-Alameda, ...",1950 Washington Blvd Los Angeles CA 90021
4,POINT (-118.24109 34.02027),"Washington Boulevard, Nevin, Central-Alameda, ...",1910 Washington Blvd Los Angeles CA 90021

In [10]:
type(join)

geopandas.geodataframe.GeoDataFrame

In [13]:
# Output file path
outfp = "transit shapefiles-geocoding.shp"

# Save to Shapefile
join.to_file(outfp)